################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DMH.Net/LuckyHome/bin/Debug
/src/DMH.Net/LuckyHome/obj/Debug
/src/DMH.Net/LuckyHome.Common/bin/Debug
/src/DMH.Net/LuckyHome.Common/obj/Debug
/src/DMH.Net/Run.Me.Now/bin/Debug
/src/DMH.Net/Run.Me.Now/obj/Debug
/src/DMH.Net/LuckyHome.Common/obj/Release
/src/DMH.Net/.vs/LuckyHome/v15
/.vs
/src/DMH.Net/LuckyHome/.vs/LuckyHome/v15/Server/sqlite3
/src/DMH.Net/packages
/src/DMH.Net/LuckyHome.Common/LuckyHome.Common.csproj.user
/src/DMH.Net/Test projects/ClassLibrary1/.vs/ClassLibrary1
/src/DMH.Net/Test projects/ClassLibrary1/bin/Debug/netstandard2.0
/src/DMH.Net/Test projects/ClassLibrary1/obj
/src/DMH.Net/Test projects/ClassLibrary1/packages
/src/DMH.Net/Test projects/ConsoleApp1/bin
/src/DMH.Net/Test projects/ConsoleApp1/obj
/src/DMH.Net/Test projects/ConsoleApp2/bin/Debug
/src/DMH.Net/Test projects/ConsoleApp2/obj/Debug
/src/DMH.Net/Test projects/ConsoleApp1/.vs/ConsoleApp1/v15
/src/DMH.Net/Test projects/ConsoleApp1/packages
/src/DMH.Net/LuckyHome/obj/Release
/src/DMH.Net/LuckyHome/bin/Release
/src/DMH.Net/LuckyHome.Common/bin/Release
/src/DMH.Net/Run.Me.Now/bin/Release
/src/DMH.Net/Run.Method.NowCore/bin/Debug/netcoreapp2.1
/src/DMH.Net/Run.Method.NowCore/obj
/src/DMH.Net/Run.Method.NowCore3/bin/Debug/netcoreapp3.1
/src/DMH.Net/Run.Method.NowCore3/obj
/src/DMH.Net/Test projects/DotNetCore/WebApplication1/.vs
/src/DMH.Net/Test projects/DotNetCore/WebApplication1/ClassLibrary1/bin/Debug/netcoreapp2.1
/src/DMH.Net/Test projects/DotNetCore/WebApplication1/ClassLibrary1/obj
/src/DMH.Net/Test projects/DotNetCore/WebApplication1/WebApplication1/bin/Debug/netcoreapp2.1/win10-x64
/src/DMH.Net/Test projects/DotNetCore/WebApplication1/WebApplication1/obj
/src/DMH.Net/UpgradeLog.htm
/src/DMH.Net/.vs/LuckyHome
/src/DMH.Net/Run.Me.Now/obj/Release
/src/DMH.Net/Run.Method.NowCore/bin/Release/netcoreapp2.1
/src/DMH.Net/Run.Method.NowCore3/bin
/src/DMH.Net/Test projects/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild
/src/DMH.Net/Run.Method.NowCore3/Run.Method.NowCore3.csproj.user
*.user
